.sign-up {
    display: flex;
    flex-direction: column;
    width: 32rem;
    justify-content: center;

    &__logo {
        height: 200px;
        width: 200px;
        margin: 0 auto;

        & img {
            height: 100%;
        }
    }

    .title {
        text-align: center;
    }
    .message-success {
        color: orange;
    }
}
